.banner{
    background-color: blue;
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

p{
    color: white;
}

.test{
    padding-left: 10px;
    padding-right: 10px;
}

.test:hover{
    background-color: rgb(133, 133, 250);
}